{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "semi": true
      }
    }
  ]
}
